<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-content-center">
        <h4>Edit Workout</h4>
    </div>
    <div class="row justify-content-center">
        <h5>"<%= workout.name %>"</h5>
    </div>

    <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
    <div class="row">
        <div class="col-sm">Workout Name:</div>
        <div class="col-sm">
            <input type="text" name="name" required pattern="\w+">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">Date</div>
        <div class="col-sm">
            <input type="datetime-local" name="date" required pattern="(\d{4})-(\d{2})-(\d{1, 2})T(\d{2}):(\d{2})" value="<%= currentDate %>">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">Duration</div>
        <div class="col-sm">
            <input type="text" name="duration" required pattern="\d+" value="30">
        </div>
    </div>

    <div class="row">
        <div class="col-sm">Calories</div>
        <div class="col-sm">
            <input type="text" name="calories" required pattern="\d+" value="0">
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-dark">CONFIRM</button>
        </form>
    </div>
</div>
<%- include('../partials/footer') %>