<%- include('../partials/header') %>

<div class="container">
    <div class="row justify-contents-center">
        <h5> <%= title %></h5>
    </div>

    <% if (foundWorkouts.length) { %>
        <% foundWorkouts.forEach(function (w) { %>
            <div class="row justify-contents-center">
                <div class="col-sm"> <%= w.title %> </div>
                <div class="col-sm"> <%= w.date.toLocaleString() %></div>
                <div class="col-sm"> <a href="/workouts/<%= w.id %>"> DETAILS </a> </div>
            </div>
            <% }); %>
    <% } else { %>
        <div class="row justify-content-center">
            <h5>No workouts found.</h5>
        </div>
    <% } %>

    

</div>

<%- include('../partials/footer') %>