<%- include('../partials/header') %>

<ul class="list-group" id="search-index">
    <li class="list-group-item">
        <div class="form-title"> <%= title %> </div>
    </li>

    <% if (foundWorkouts.length) { %>
        <% foundWorkouts.forEach(function (w) { %>
            <li class="list-group-item">
                <div class="row justify-contents-center" id="first-col-format">
                    <div class="col-sm"> <%= w.name %> </div>
                    <div class="col-sm"> <%= w.date.toLocaleString() %></div>
                    <div class="col-sm text-center"> <a href="/workouts/<%= w.id %>" class="btn btn-dark" role="button"> DETAILS </a> </div>
                </div>
            </li>
            <% }); %>
    <% } else { %>
        <!-- Default if no workouts appear. -->
        <li class="list-group-item">
            <div class="form-title"> No workouts added. </div>
        </li>
    <% } %>
</ul>


<%- include('../partials/footer') %>