<%- include('../partials/header') %>

<ul class="list-group" id="new-workout-form">
    <li class="list-group-item">
        <div class="form-title"> <%= title %> </div>
    </li>

    <li class="list-group-item">
        <div class="row font-weight-bold">
            <div class="col-sm">Name</div>
            <div class="col-sm">Date</div>
            <div class="col-sm">Duration</div>
            <div class="col-sm">Calories</div>
        </div>
        <div class="row">
            <div class="col-sm"><%= workout.name %></div>
            <div class="col-sm"><%= workout.date.toLocaleDateString(); %></div>
            <div class="col-sm"><%= workout.duration %></div>
            <div class="col-sm"><%= workout.calories %></div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-sm text-right">Exercise</div>
            <div class="col-sm">
                <form action="/workouts/<%= workout._id %>/exercises" method="POST">
                    <input type="text" name="name" required pattern="\w+">
            </div>
        </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm text-right">Muscle Group</div>
            <div class="col-sm">
                <input type="text" name="muscle">            
            </div>
    </li>
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm text-right">Description</div>
            <div class="col-sm">
                <textarea rows="2" input type="text" name="description"></textarea>        
            </div>
        </div>
    </li>
    <li class="list-group-item text-center">
        <button type="submit" class="btn btn-dark">
            <svg width="1em" height="1em" viewBox="3 4 10 10" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
        </button>
        </form>
    </li>
        
    <li class="list-group-item">
        <div class="form-title">
            Exercises
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-sm font-weight-bold">Activity</div>
            <div class="col-sm font-weight-bold">Muscle Group</div>
            <div class="col-sm font-weight-bold">Description</div>
            <div class="col-sm"></div>
        </div>
    </li>

    <% if (workout.exercises.length) { %>
        <% workout.exercises.forEach(function (e) { %>

            <li class="list-group-item">
                <div class="row">
                    <div class="col-sm"><%= e.name %></div>
                    <div class="col-sm"><%= e.muscle %></div>
                    <div class="col-sm"><%= e.description %></div>
                    <div class="col-sm">
                        <form action="/exercises/<%= e.id %>?_method=DELETE" method="POST">
                            <button class="btn btn-dark my-2 my-sm-0" type="submit">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                  </svg>
                        </form>    
                    </div>
                </div>
            </li>
        <% }); %>
        <% } else { %>
            <li class="list-group-item">
                <div class="form-title"> No exercises added. </div>
            </li>
        <% } %>

        <li class="list-group-item text-center">
            <form action="/home" method="GET">
                <button type="submit" class="btn btn-dark">CONFIRM</button>
            </form>
        </li>
</ul>

<%- include('../partials/footer') %>