<%- include('./partials/header') %>

    <ul class="list-group text-center">
        <div class="container-fluid" id="user-tag">
            <div class="row">
                <div class="col-sm">
                    <% if (user.avatar) { %>
                        <img src="<%= user.avatar %>" class="img-thumbnail" alt="avatar" width="50">
                      <% } else { %> 
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z"/>
                          </svg>
                        <% } %>
                        
                        <%= user.name %>
                </div>
            </div>
        </div>

        <!-- User Stats -->
        <% if (stats.length) { %>
            <div class=container-fluid id="stats">
                <div class="row justify-content-around text-center">
                    <span class="border border-info">
                        <div class="col-sm stats-title">TIME SPENT</div><div><%= totalDuration %> </div>
                    </span>
                    <span class="border border-info">
                        <div class="col-sm stats-title">WORKOUTS</div><div><%= totalWorkouts %> </div>
                    </span>
                    <span class="border border-info">
                        <div class="col-sm stats-title">CALORIES</div><div><%= totalCalories %> </div>
                    </span>
                </div>
            </div>
        
            <% } else { %>
                    <li class=list-group-item>
                        Nothing to see here...
                    </li>
            <% } %>
            
        <li class="list-group-item">
            <a href='/workouts/new'>Create workout</a>
        </li>
        <li class="list-group-item">
            <a href='/workouts/index'>Manage workouts</a>
        </li>
        <li class="list-group-item">
            <form class="form-inline justify-content-center" action="/workouts" method="GET">
                <input class="form-control mr-sm-2" type="search" name="name" placeholder="Search workout names!" aria-label="Search">
                <button class="btn btn-dark my-2 my-sm-0" type="submit">
                    <svg width="1em" height="1em" viewBox="0 1 20 18" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                </button>
            </form>
        </li>
    </ul>

<%- include('./partials/footer') %>